.black{
    width:100%;
    height:80px;
    background-color: rgb(31, 30, 30);
  }
  .black p{
    padding-top:20px;
    text-align: center;
    color:#cdd;
    font-size:20px;
  }
  span{
    text-decoration: underline;
  }
  #navbar{
    display:flex;
    width:100%;
    height:100px;
    margin:auto;
    background-color: white;
    position:sticky;
    top:0px;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  #navbar div{
    display:flex;
    height:auto;
    width:auto;
    text-align:center;
    /* border:1px solid red; */
   
  }
  #left{
    display:flex;
    height:auto;
    width:98%;
    gap:20px;
    justify-content: space-around;
    margin-left:10px; 
    /* border:1px solid red; */
  }
  #left >div{
    justify-content:space-around;
    font-size:25px;
    text-align:center;
   
  }
  div> img{
     width:100px;
     margin-left:10px;
     align-items:left;
     /*margin-right:30px;*/
  }
  #right{
    display:flex;
    height:auto;
    width:50%;
    justify-content: space-around;
    margin-left:10px;
    align-items:center;
    /* border:1px solid red; */
  }
  #right div{
    justify-content:space-around;
    font-size:25px;
    text-align:center;
    padding:20px;
  }
  #right h5{
    text-align:center;
  }
  #right img{
    width:40px;
  }
  h5{
    color:rgb(80, 75, 75);
  }